In [1]:
import pandas as pd

In [2]:
original_df = pd.read_csv('data/Impact_of_Remote_Work_on_Mental_Health.csv')

In [4]:
#original_df.describe()
print(original_df.columns)
original_df.describe()

Index(['Employee_ID', 'Age', 'Gender', 'Job_Role', 'Industry',
       'Years_of_Experience', 'Work_Location', 'Hours_Worked_Per_Week',
       'Number_of_Virtual_Meetings', 'Work_Life_Balance_Rating',
       'Stress_Level', 'Mental_Health_Condition',
       'Access_to_Mental_Health_Resources', 'Productivity_Change',
       'Social_Isolation_Rating', 'Satisfaction_with_Remote_Work',
       'Company_Support_for_Remote_Work', 'Physical_Activity', 'Sleep_Quality',
       'Region'],
      dtype='object')

,Age,Years_of_Experience,Hours_Worked_Per_Week,Number_of_Virtual_Meetings,Work_Life_Balance_Rating,Social_Isolation_Rating,Company_Support_for_Remote_Work
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000
mean,40.995000,17.810200,39.614600,7.559000,2.984200,2.993800,3.007800
std,11.296021,10.020412,11.860194,4.636121,1.410513,1.394615,1.399046
min,22.000000,1.000000,20.000000,0.000000,1.000000,1.000000,1.000000
25%,31.000000,9.000000,29.000000,4.000000,2.000000,2.000000,2.000000
50%,41.000000,18.000000,40.000000,8.000000,3.000000,3.000000,3.000000
75%,51.000000,26.000000,50.000000,12.000000,4.000000,4.000000,4.000000
max,60.000000,35.000000,60.000000,15.000000,5.000000,5.000000,5.000000

In [5]:
print(original_df)

     Employee_ID  Age      Gender           Job_Role    Industry  \
0        EMP0001   32  Non-binary                 HR  Healthcare
1        EMP0002   40      Female     Data Scientist          IT
2        EMP0003   59  Non-binary  Software Engineer   Education
3        EMP0004   27        Male  Software Engineer     Finance
4        EMP0005   49        Male              Sales  Consulting
...          ...  ...         ...                ...         ...
4995     EMP4996   32        Male              Sales  Consulting
4996     EMP4997   39      Female              Sales  Healthcare
4997     EMP4998   42      Female              Sales  Healthcare
4998     EMP4999   27      Female              Sales  Healthcare
4999     EMP5000   29        Male                 HR          IT

      Years_of_Experience Work_Location  Hours_Worked_Per_Week  \
0                      13        Hybrid                     47
1                       3        Remote                     52
2                      22        Hybrid                     46
3                      20        Onsite                     32
4                      32        Onsite                     35
...                   ...           ...                    ...
4995                    4        Onsite                     24
4996                   27        Onsite                     48
4997                   21        Hybrid                     34
4998                   26        Remote                     58
4999                   30        Onsite                     20

      Number_of_Virtual_Meetings  Work_Life_Balance_Rating Stress_Level  \
0                              7                         2       Medium
1                              4                         1       Medium
2                             11                         5       Medium
3                              8                         4         High
4                             12                         2         High
...                          ...                       ...          ...
4995                           2                         5         High
4996                          15                         1          Low
4997                           1                         4         High
4998                           0                         5          Low
4999                          15                         1          Low

     Mental_Health_Condition Access_to_Mental_Health_Resources  \
0                 Depression                                No
1                    Anxiety                                No
2                    Anxiety                                No
3                 Depression                               Yes
4                        NaN                               Yes
...                      ...                               ...
4995                 Burnout                               Yes
4996              Depression                               Yes
4997                 Burnout                                No
4998                     NaN                               Yes
4999              Depression                               Yes

     Productivity_Change  Social_Isolation_Rating  \
0               Decrease                        1
1               Increase                        3
2              No Change                        4
3               Increase                        3
4               Decrease                        3
...                  ...                      ...
4995            Decrease                        4
4996            Decrease                        1
4997            Increase                        3
4998            Increase                        3
4999           No Change                        3

     Satisfaction_with_Remote_Work  Company_Support_for_Remote_Work  \
0                      Unsatisfied                                1
1                        Satisfied                                2
2                      Unsatisfied                                5
3                      Unsatisfied                                3
4                      Unsatisfied                                3
...                            ...                              ...
4995                       Neutral                                1
4996                     Satisfied                                1
4997                     Satisfied                                1
4998                   Unsatisfied                                4
4999                   Unsatisfied                                5

     Physical_Activity Sleep_Quality         Region
0               Weekly          Good         Europe
1               Weekly          Good           Asia
2                  NaN          Poor  North America
3                  NaN          Poor         Europe
4               Weekly       Average  North America
...                ...           ...            ...
4995            Weekly       Average           Asia
4996               NaN       Average         Africa
4997             Daily          Poor        Oceania
4998             Daily       Average           Asia
4999               NaN          Poor           Asia

[5000 rows x 20 columns]

In [ ]:
# checking some text fields to see what the high level data looks like
unique_jobs = original_df['Job_Role'].value_counts()
print(f'\n\t{unique_jobs}')

unique_industry = original_df['Industry'].value_counts()
print(f'\n\t{unique_industry}')

	Job_Role
Project Manager      738
Sales                733
Designer             723
HR                   716
Software Engineer    711
Data Scientist       696
Marketing            683
Name: count, dtype: int64

	Industry
Finance          747
IT               746
Healthcare       728
Retail           726
Education        690
Manufacturing    683
Consulting       680
Name: count, dtype: int64

In [26]:
# checking some text fields to see what the high level data looks like
unique_gender = original_df['Gender'].value_counts()
print(f'\n\t{unique_gender}')

unique_work_location = original_df['Work_Location'].value_counts()
print(f'\n\t{unique_work_location}')

	Gender
Female               1274
Male                 1270
Prefer not to say    1242
Non-binary           1214
Name: count, dtype: int64

	Work_Location
Remote    1714
Hybrid    1649
Onsite    1637
Name: count, dtype: int64

Ideas for columns to compare/analyse:

Physical_Activity vs Stress level
Sleep_Quality vs Stress level
Average stress level per work location type 
Access_to_Mental_Health_Resources vs Stress level
Social_Isolation_Rating vs Stress level

*May need to rethink the choice of dataset due to feeling of sparse number of columns with numeric data*